################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Testing System 1.0/.vs/Testing System 1.0/v16/Browse.VC.db-wal
/Testing System 1.0/.vs/Testing System 1.0/v16/Browse.VC.db-shm
/Testing System 1.0/.vs/Testing System 1.0/v16/Browse.VC.db
*.opendb
